.search-container{
    position: relative;
    top: -3.75rem;
    margin: 0 auto -1rem auto;

    display: flex;
    justify-content: flex-end;
}

.search-form{
    display: inline-flex;
    width: 100%
}

.search-form div{
    width: 100%
}

.search-bar{
    position: relative;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pokemon-search{
    display: inline-block;
    width: 100%;
    padding: .5rem 2rem .5rem .5rem;
    border: 2px solid #000000;
    position: relative;
}

.search-button{
    display: none;
    right: 2.75rem;
    top: .7rem;
    background: transparent;
    border: transparent;
    color: #ffffff;
    cursor: pointer;
    outline: 0;
}

.search-filter{
    background: #fff;
    border: transparent;
    font-size: 1.25rem;
    padding: 0 .5rem;
    color: #000000;
    cursor: pointer;
}


@media screen and (max-width: 499px) {
    .search-container{
        position: static;
        margin-bottom: 1rem;
    }
    .search-button{
        top: 6.65rem;
        right: 4.5rem;
    }
}

@media screen and (min-width: 500px) {
    .search-form{
        width: 60%;
    }
    .search-button{
        right: 3rem;
    }
}

@media screen and (min-width: 767px) {
    .search-form{
        width: 70%;
    }
}